app/rico.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT rdf:RDF (rico:Record, rico:RecordResource+)>
<!ATTLIST rdf:RDF
	xmlns:rdf CDATA #REQUIRED
	xmlns:rdfs CDATA #REQUIRED
	xmlns:rico CDATA #REQUIRED
	xml:base CDATA #REQUIRED
>
<!ELEMENT rdf:type EMPTY>
<!ATTLIST rdf:type
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:Instantiation (rico:instantiates, rico:identifier, rico:title)>
<!ATTLIST rico:Instantiation
	rdf:about CDATA #REQUIRED
>
<!ELEMENT rico:Record (rico:hasDocumentaryFormType, rico:title, rico:describes, rico:hasInstantiation)>
<!ATTLIST rico:Record
	rdf:about CDATA #REQUIRED
>
<!ELEMENT rico:RecordResource (rico:describedBy?, rdf:type?, rico:includedIn?, rico:hasRecordSetType, rico:title, rico:hasInstantiation, rico:includes?)>
<!ATTLIST rico:RecordResource
	rdf:about CDATA #REQUIRED
>
<!ELEMENT rico:describedBy EMPTY>
<!ATTLIST rico:describedBy
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:describes EMPTY>
<!ATTLIST rico:describes
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:hasDocumentaryFormType EMPTY>
<!ATTLIST rico:hasDocumentaryFormType
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:hasInstantiation (rico:Instantiation)>
<!ELEMENT rico:hasRecordSetType EMPTY>
<!ATTLIST rico:hasRecordSetType
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:identifier (#PCDATA)>
<!ELEMENT rico:includedIn EMPTY>
<!ATTLIST rico:includedIn
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:includes EMPTY>
<!ATTLIST rico:includes
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:instantiates EMPTY>
<!ATTLIST rico:instantiates
	rdf:resource CDATA #REQUIRED
>
<!ELEMENT rico:title (#PCDATA)>
<!ATTLIST rico:title
	xml:lang CDATA #REQUIRED
>
