sample/RIS_St.Gallen_DHTML/22.06.12/geschaeft.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="artType">
		<xs:sequence>
			<xs:element name="referenz" type="referenzType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dokumenteType">
		<xs:choice>
			<xs:element name="referenz" type="referenzType" maxOccurs="unbounded"/>
			<xs:element name="dokument" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="id"/>
						<xs:element name="public" type="xs:boolean"/>
						<xs:element name="parent" type="xs:string" minOccurs="0"/>
						<xs:element name="title" type="xs:string" minOccurs="0"/>
						<xs:element name="art" type="artType" minOccurs="0"/>
						<xs:element name="id-datei" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="checkindatum" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="id" type="xs:string"/>
	<xs:complexType name="referenzType">
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="ziel" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="code"/>
					<xs:enumeration value="dokument"/>
					<xs:enumeration value="geschaeft"/>
					<xs:enumeration value="gruppe"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="art" type="xs:string"/>
	</xs:complexType>
	<xs:element name="risexport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="geschaeft">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="id"/>
							<xs:element name="deleted" type="xs:boolean"/>
							<xs:element name="command" type="xs:string"/>
							<xs:element name="public" type="xs:boolean"/>
							<xs:element name="ziel" type="xs:boolean"/>
							<xs:element name="gremium" type="xs:string"/>
							<xs:element name="bezeichnung" type="xs:string"/>
							<xs:element name="kurzbezeichnung" type="xs:string"/>
							<xs:element name="nummer" type="xs:string"/>
							<xs:element name="datum" type="xs:string"/>
							<xs:element name="eroeffnet" type="xs:string"/>
							<xs:element name="art" type="artType"/>
							<xs:element name="vorstoss" type="xs:boolean"/>
							<xs:element name="aktenplan" type="xs:string"/>
							<xs:element name="beteiligte">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="referenz" type="referenzType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="laufweg">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="schritt" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="bezeichnung" type="xs:string" use="required"/>
												<xs:attribute name="erledigt" type="xs:string" use="required"/>
												<xs:attribute name="meilenstein" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="geschaeftsreferenzen">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="referenz" type="referenzType" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dokumente" type="dokumenteType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dokumente" type="dokumenteType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
